body {
    background-image: url('/static/blue3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

div.a {
    max-width: 550px;
    height: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: -13px 13px #252525;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

p.a {
    font-size: 30px;
  	text-align: center;
    font-weight: 700;
    position: relative;
    top: -20px;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 80px;
}
  
input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #252525;
    float: left;
    width: 80%;
    background: white;
    box-sizing: border-box;
    max-width: 600px;
}
  
button {
    float: left;
    width: 5%;
    padding: 10px;
    background: #252525;
    color: white;
    font-size: 17px;
    border: 1px solid #252525;
    border-left: none;
    cursor: pointer;
}
  
button:hover {
    background: black;
}

td {
    width: 16rem;
    text-align: left;
    vertical-align: top;
    overflow: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    border-bottom: 1px solid #696969;
}

th {
    background-color: #252525;
    width: 16rem;
    text-align: left;
    vertical-align: center;
    color: white;
    padding: 12px;
}

tbody {
    background-color: white;
    padding: 12px;
}

tr:hover {
    background-color: #c0c0c0;
}
