<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Course Details</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="a c">
        <p class="a">{{ course.name }}</p>
        <p class="c"><b>Lecturer</b>: {{ course.lecturer }}</p>
        <p class="c"><b>Term</b>: {{ course.term }}</p>
        <p class="c"><b>Credits</b>: {{ course.credits }}</p>
        <p class="c"><b>Classroom</b>: {{ course.classroom }}</p>
        <p class="c"><b>Description</b>: {{ course.description }}</p>
    </div>
    <div style="text-align: center; position: relative; bottom: -520px;">
        <a href="/courses"><button class="button button2">Back</button></a>
        <a href="{{ course.get_url }}delete"><button class="button button3">Delete</button></a>
    </div>
</body>
</html>