<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Delete Course</title>
</head>
<body>
    {% include 'navbar.html' %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="a c">
            <p class="a">Delete this Course</p>
            <p class="c">Are you sure you want to delete this course?</p>
            <a href="{{ course.get_url }}"><div class="button button2">Cancel</div></a>
            <button type="submit" class="button button3" value="Delete course">Delete</button>
        </div>
    </form>
</body>
</html>