<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>My Courses</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="b" style="text-align: center;">
        <p class="g">MY COURSES</p>
        <br><br>
        <a href="/courses/add"><button class="button button1">Add Course</button></a>
    </div>
    <div class="container4">
        {% if courses %}
            {% for course in courses %}
                <div>
                    <a href="{{ course.get_url }}"><button class="button button2">{{ course.name }}</button></a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>