<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>My Courses</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="b" style="text-align: center;">
        <p class="g">MY ACTIVITIES</p>
        <br><br>
        <a href="/activities/add-activity"><button class="button button1">Add Activity</button></a>
        <a href="/activities/join-activity"><button class="button button1">Join Activity</button></a>
    </div>

    <div class="container6">
    {% for activity in activities %}
        <div class="a">
            <p class="a">{{ activity.name }}</p>
            <p class="b">Participants:</p>
            <ul style="font-size: 18px; color: black;">
            {% for participant in participants %}
                {% if participant.activity.name == activity.name %}
                    <li>{{ participant.name }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>

</body>
</html>