<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Add Activity</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="b">
        <p class="g">ADD ACTIVITY</p>
    </div>
	<div class="container5" style="justify-content: center">
		<form method="POST" action="" style="color: white;">
			{% csrf_token %}
			<p>Name
			{{ form.name }}
			</p>
			<br>
			<button class="button button2" type="submit" value="Add activity">Submit</button>
			<a href="/activities"><div class="button button3">Back</div>
		</form>
	</div>
</body>
</html>