<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Home</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="c">
        <p style="color: white;">Welcome to Randey's page!</p>
        {% if user.is_authenticated %}
            <p style="color: white; font-size: 40px;">Hello, {{ user.first_name }}</p>
        {% else %}
            <p style="color: white; font-size: 30px;">Please log in to continue</p>
            <a href="/login"><button class="button button1">Log In</button></a>
        {% endif %}
    </div>
</body>
</html>