<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Randey's Profile</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container1">
        <div>
            <img class="a" src="{% static 'RandeyRasyid.jpg' %}">
        </div>
        <div class="a">
            <p class="a">AHMAD RANDEY JULIANO RASYID</p>
            <p class="b">Programmer</p> 
            <p class="c">
                Hi, I’m Randey. I’m a student of Universitas Indonesia, the Faculty of Computer Science 2019. 
                I am a programmer who specializes in web design and web development, and loves taking on new, 
                challenging projects. Feel  free to contact me with the info below!
            </p>
            <p style="font-size: 16px;">
                <img style="height: 20px; float: left;" src="{% static 'phone.png' %}">
                +62 821 1414 XXXX
            </p>
            <p style="font-size: 16px;">
                <img style="height: 28px; float: left;" src="{% static 'email.png' %}">
                randeyrasyid616@gmail.com
            </p>
            <p style="font-size: 16px;">
                <img style="height: 28px; float: left;" src="{% static 'linelogo.png' %}">
                randeyr
            </p>
        </div>
    </div>
    <a href="https://www.instagram.com/randey_r/?hl=en">
        <img style="height: 50px;" src="{% static 'instagram.png' %}">
    </a>
</body>
</html>