<!DOCTYPE html>
{% load static %}
<html>
<head>
{% block head %}
<link href='https://fonts.googleapis.com/css?family=Montserrat: 500' rel='stylesheet'>
<style>
  body.nav {
      margin:0;
      font-family:Montserrat
  }

  .topnav {
      overflow: hidden;
      background-color: #252525;
      font-family:Montserrat
  }

  .topnav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }

  .topnav .icon {
      display: none;
  }

  .dropdown {
      float: left;
      overflow: hidden;
  }

  .dropdown .dropbtn {
      font-size: 17px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }

  .topnav a:hover, .dropdown:hover .dropbtn {
      background-color: white;
      color: black;
  }

  .dropdown-content a:hover {
      background-color: #ddd;
      color: black;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  @media screen and (max-width: 1300px) {
      .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 1300px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  .topnav div.right {
    float: right;
    font-size: 17px;
  }
</style>
{% endblock %}
</head>
<body class="nav">

<div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    {% if user.is_authenticated %}
        <a href="/story1">My Profile (Beta)</a>
        <div class="dropdown">
            <button class="dropbtn">My Profile</button>
            <div class="dropdown-content">
                <a href="/profile">Description</a>
                <a href="/trackrecord">Track Record</a>
                <a href="/gallery">Gallery</a>
            </div>
        </div> 
        <a href="/courses">My Courses</a>
        <a href="/activities">My Activities</a>
        <a href="/aboutme">About Me</a>
        <a href="/searchbook">Find a Book</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        <div class="right">
            <a href="#">{{ user.get_username }}</a>
            <a href='/logout'>Log Out</a>
        </div>
    {% else %}
        <div class="right">
            <a href='/login'>Log In</a>
            <a href='/signup'>Sign Up</a>
        </div>
    {% endif %}
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
</body>
</html>