<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
    background-color:SkyBlue;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

img {
    height: 240px;
    display: block;
    position: relative;
    bottom: -15px;
    margin-left: auto;
    margin-right: auto;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: #FF1493;
  color: white;
}
</style>
    <title>Story 1 Profile</title>
</head>
<body>
    {% include 'navbar.html' %}
    <img src="{% static 'RandeyRasyid.jpg' %}">

    <h1 style="text-align:center">Hello, my name is Randey!</h1>
    <article style="text-align:center">NPM : 1906399285</article>
    <article style="text-align:center">I am 19 years old.</article>
    <article style="text-align:center">I am from Universitas Indonesia in angkatan 2019.</article>
    <article style="text-align:center">My hobby is gaming.</article>
    <article style="text-align:center">Description: Not the best but still good.</article>

    <h2 style="text-align:center">Education</h2>
    <table class="center">
        <tr>
            <th>School</th>
            <th>Year</th>
        </tr>
        <tr>
            <td>PS 139</td>
            <td>2007 - 2012</td>
        </tr>
        <tr>
            <td>JHS 190</td>
            <td>2012 - 2015</td>
        </tr>
        <tr>
            <td>SMAN 78</td>
            <td>2016 - 2018</td>
        </tr>
        <tr>
            <td>Universitas Indonesia</td>
            <td>2019 - Present</td>
        </tr>
    </table>

    <h3>Follow me on Instagram!</h3>
    <a href="https://www.instagram.com/randey_r/?hl=en" class="fa fa-instagram"></a>
</body>
</html>