<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat: 500,600,700' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<title>Track Record</title>
<body>
    {% include 'navbar.html' %}
    <div class="b">
        <p class="g">TRACK RECORD</p>
    </div>
    <div class="container2">
    <div>
        <p class="d">Skills</p>
        <p class="rectangle"</p>
        <ul class="a">
            <li>Python</li>
            <p></p>
            <li>Java</li>
            <p></p>
            <li>HTML</li>
            <p></p>
            <li>Web design</li>
            <p></p>
            <li>Microsoft PowerPoint</li>
            <p></p>
            <li>Google Docs / Microsoft Word</li>
            <p></p>
            <li>Planning and strategizing</li>
        </ul>
    </div>
    <div>
        <img style="height: 350px;" src="{% static 'Laptop.png' %}">
    </div>  
    <div>
        <img style="height: 320px;" src="{% static 'Coding.png' %}">  
    </div>
    <div>
        <p class="d">Past Projects</p>
        <p class="rectangle"</p>
        <ul class="b">
            <li>Web design for Stark Industries</li>
            <p></p>
            <li>Mobile app design for Stark Industries</li>
            <p></p>
            <li>Web design for Wayne Enterprises</li>
            <p></p>
            <li>Mobile app design for Wayne Enterprises</li>
        </ul>
    </div>
    <div>
        <p class="e">ORGANIZATIONAL</p>
        <p class="d">EXPERIENCE</p>
        <p class="rectangle"</p>
        <ul class="b">
            <li>Universitas Indonesia Coding Squad</li>
            <p class="f">- Programmer</p>
            <li>Stark Industries WebDev Team -</li>
            <p class="f">Web Developer & Mobile App Developer</p>
            <li>Wayne Enterprises WebDev Team - </li>
            <p class="f">Web Developer & Mobile App Developer</p>
        </ul>
    </div>
    <div>
        <img style="height: 350px;" src="{% static 'Teamwork.png' %}">  
    </div>
    </div>
</body>
</html>