<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'booksearcherstyles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Find a Book</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="a" style="width: 80%">
        <p class="a">FIND A BOOK</p>
    </div>

    <div class="container">
        <input type="text" placeholder="Find your book here..." id="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>

    <div class="container" style="padding: 30px">
        <table id="results" cellspacing="0" cellpadding="0" style="width: 80%">
            <thead>
                <tr id="fields">
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Preview</th>
                </tr>
            </thead>
            <tbody style="background-color: white">
            </tbody>
        </table>
    </div>

    <script src="{% static 'booksearcher.js' %}"></script>
</body>
</html>