body {
    background-image: url('/static/blue3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
}
div.a {
    max-width: 550px;
    padding: 40px;
    background-color: white;
    box-shadow: -14px 14px #252525;
    display: block;
    width: auto;
    height: auto;
}
div.b {
    max-width: 550px;
    height: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: -13px 13px #252525;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
div.c {
    position: relative;
    margin-top: 150px;
    text-align: center;
    font-size: 50px;
}
.container1 {  
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 550px); 
    grid-gap: 100px;
    padding: 50px;  
    align-items: center;
    justify-items: center;
}
.container2 {  
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, 400px); 
    grid-gap: 100px;
    padding: 50px;  
    align-items: center;
    justify-items: center;
}
.container3 {  
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, 250px); 
    grid-gap: 50px;
    padding: 50px;  
}
.container3 > div {
    text-align: center;
    background-color: white;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 500;
}
.container4 {  
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px); 
    grid-gap: 50px;
    align-items: center;
    justify-items: center;
    position: relative;   
    bottom: -200px;
}
.container5 {  
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px); 
    grid-gap: 50px;
    padding: 50px;
    align-items: center;
    justify-items: center;
}
.container5 > div {
    text-align: center;
}
.container6 {  
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 310px); 
    grid-gap: 50px;
    align-items: center;
    justify-items: center;
    position: relative;   
    bottom: -200px;
}
p.a {
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    position: relative;
    top: -20px;
}
p.b {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    color: grey;
    position: relative;
    top: -30px;
}
p.c {
    font-size: 18px;
    text-align: justify;
    position: relative;
    top: -30px;
}
p.d {
	font-size: 36px;
  	text-align: center;
    font-weight: 700;
    color: white;
}
p.e {
	font-size: 36px;
  	text-align: center;
    font-weight: 700;
    color: white;
    position: relative;
    top: 30px;
}
p.f {
    font-size: 22px;
    color: white;
    position: relative;
    top: -15px;
}
p.g {
	font-size: 30px;
  	text-align: center;
    font-weight: 700;
    position: relative;
    top: -20px;
}
.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Montserrat';
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #252525;
}
.button1:hover {
    background-color: #252525;
    color: white;
}
.button2 {
    background-color: #252525; 
    color: white; 
}
.button2:hover {
    background-color: black; 
}
.button3 {
    background-color: #f44336; 
    color: white;
}
.button3:hover {
    background-color: red;
}
.rectangle {
    width: 316px;
    height: 5px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10px;
}
ul.a {
	font-size: 24px;
    color: white;
}
ul.b {
	font-size: 22px;
    color: white;
}
img.a {
    max-height: 450px;
    width: auto;
    box-shadow: -14px 14px #252525;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}