body {
    background-image: url('/static/blue3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

img {
    height: 2.5%;
    width: 2.5%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4%;
}

div.a {
    max-width: 550px;
    height: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: -13px 13px #252525;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

div.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
}

p.a {
    font-size: 30px;
  	text-align: center;
    font-weight: 700;
    position: relative;
    top: -20px;
}

.accordion {
    width: 80%;
    max-width: 900px;
    font-size: 18px;
    padding: 20px;
}

.label {
    display: flex;
    align-items: center;
    background-color: #252525;
    color: white;
    padding: 1.5%;
    cursor: pointer;
    max-height: 35px;
}

.content {
    height: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 4px 0 #252525, 0 2px 4px 0 #252525;
    transition: 0.3s;
}  
  
li.d {
    margin: .5em 0;
    padding: 5px;
}

ul.d {
    list-style-type: circle;
}

.toggle {
    flex-grow: 1;
}

.accordion.active .content {
    height: 220px;
    transition: 0.3s;
}