body {
    background-image: url('/static/blue3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

div.a {
    max-width: 550px;
    height: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: -13px 13px #252525;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

p.a {
    font-size: 30px;
  	text-align: center;
    font-weight: 700;
    position: relative;
    top: -20px;
}

.container5 {  
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px); 
    grid-gap: 50px;
    padding: 50px;
    align-items: center;
    justify-items: center;
}
.container5 > div {
    text-align: center;
}

.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Montserrat';
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #252525;
}
.button1:hover {
    background-color: #252525;
    color: white;
}
.button2 {
    background-color: #252525; 
    color: white; 
}
.button2:hover {
    background-color: black; 
}

.button3 {
    background-color: #f44336; 
    color: white;
}
.button3:hover {
    background-color: red;
}

input {
    width: 700px;
    height: 35px;
    padding: 6px 10px;
    padding-top: 10px;
}