<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'accordionstyles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>About Me</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="a" style="width: 80%">
        <p class="a">ABOUT ME</p>
    </div>

    <div class="center">
        <div class="accordion">
            <div class="label">
                <h4 style="font-weight: 400" class="toggle">Current Activities</h6>
                <img src="{% static 'up-arrow.png' %}" class="up-button">
                <img src="{% static 'down-arrow.png' %}" class="down-button">
            </div>
            <div class="content">
                <ul class="d">
                    <li class="d">Studying at FASILKOM Universitas Indonesia</li>
                    <li class="d">Doing assignments :'')</li>
                    <li class="d">Studying for exams :'')))</li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <div class="label">
                <h4 style="font-weight: 400" class="toggle">Organizational Experience</h6>
                <img src="{% static 'up-arrow.png' %}" class="up-button">
                <img src="{% static 'down-arrow.png' %}" class="down-button">
            </div>
            <div class="content">
                <ul class="d">
                    <li class="d">Employee at the Krusty Krab</li>
                    <li class="d">Software Engineer at Stark Industries</li>
                    <li class="d">Member of the Baby Yoda Fan Club</li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <div class="label">
                <h4 style="font-weight: 400" class="toggle">Achievements</h6>
                <img src="{% static 'up-arrow.png' %}" class="up-button">
                <img src="{% static 'down-arrow.png' %}" class="down-button">
            </div>
            <div class="content">
                <ul class="d">
                    <li class="d">Graduated high school</li>
                    <li class="d">Accepted into Universitas Indonesia</li>
                    <li class="d">Beat the Valkyrie Queen in God of War :))</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="{% static 'accordion.js' %}"></script>
</body>
</html>