<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'userbasestyles.css' %}">
<title>Log In</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="a">
        <p class="a">LOG IN</p>
    </div>
	<div class="container5" style="justify-content: center">
		<form method="POST" action="" style="color: white;">
			{% csrf_token %}
			{{ form.as_p }}
			<br>
            <br>
			<button class="button button2" type="submit">Log In</button>
			<a href="/"><div class="button button3">Back</div></a>
		</form>
	</div>
    <center>
        <p style="color: white">Don't have an account?</p>
        <a href="/signup"><button class="button button1">Sign Up</button></a>
    </center>
    <br>
    <br>
</body>
</html>